//  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  //

@use '../../utilities/sass/variables.scss' as var;
@use '../../utilities/sass/mixins.scss' as mix;

//  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  //

body {
    background-color: var.$background-color-main;
    color: var.$color-main;
    font-family: var.$font-family-main;
    font-size: 1.125rem;
}

body > div#body-liner {
    min-height: 100vh;
    padding-top: 4rem;
}

//  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  //

main {
    margin-top: 2rem;
    padding-bottom: 4rem;
    position: relative;
}

//  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  //
