@use '../../../utilities/sass/variables.scss' as var;
@use '../../../utilities/sass/mixins.scss' as mix;

//  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  //

body.login {
    background-attachment: fixed;
	background-image: url("http://placekitten.com/1000/1000");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
	padding: 20px;
    width: 100%;
}

body.login div#login {
	background-color: rgba(255,255,255,0.8);
	border: solid 1px #fff;
	border-radius: 4px;
	max-width: 480px;
	margin-top: 4rem;
	padding: 2rem 3.6rem;
	width: auto;
}

body.login div#login form#loginform,
body.login div#login form#lostpasswordform {
	border: none;
	border-radius: 4px;
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
}

body.login div#login form#loginform input#user_pass {
	margin-bottom: 32px;
}

body.login div#login form#loginform input[type="checkbox"],
body.login div#login form#loginform input[type="text"] {
	background: #f8f8f8 !important;
}

body.login div#login p#nav {
	text-align: center;
}

body.login div#login h1 {
	margin-bottom: 3rem;
}

body.login div#login h1:before {
    color: #000;
    content: "Site Temporarily Offline for Maintenance. Please visit us again soon.";
	font-size: 2.2rem;
	line-height: 1.2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

body.login div#login div.privacy-policy-page-link,
body.login div#login h1 a,
body.login div#login p#backtoblog {
	display: none;
}

//  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  //
